@media screen and (max-width: 1360px){


	.header-top-site {
		width: 100%;
	}
	
	.author_info {
		top: 0%;
	}

	.author_info>span {
		font-size: 13px;
	}

	.product_info_conatiner {
		max-width: 100%;
	}

	.product_info_description {
		flex-wrap: wrap;
		max-width: 100%;
		width: 568px;
		flex-direction: column;
	}

	.section_1_lending_image {
		padding: 10px;
	}

	.section_1_lending_image>img {
		position: relative;
		left: 0;
		top: 0;
		max-width: 100%;
		max-height: 100%;
	}

	.lending_lime_span {
		width: 100%;
		padding: 10px 0px;
		text-align: center;
	}

	.product_info_description_section_2>h1 {
		width: 100%;
		text-align: center;
	}

	.call_me_now {
		font-size: 24px;
	}

	.call_me_now>img {
		width: 25px;
		height: 25px;
	}

	.price_fist>p {
		font-size: 30px;
		color: #35363b;
		text-align: center;
		border-bottom: 8px solid #35363b;
	}

	.product_info_conatiner_section2 {
		padding: 0px;
	}

	.lending_small_span_description  {
	 margin: 0px 15px;
	}

	.product_sec2_list {
		margin: 0px 15px;
	}
}